/* seems not functioning tho? */
.d-none {
  display:none;
}

/* about color */
:root {
    /* Warna Merah */
    --merah: #DE2C2C !important;
    --merah100: #FBE1E1 !important;
    --merah200: #F7ACAC !important;
    --merah300: #F37070 !important;
    --merah400: #DE2C2C !important;
    --merah500: #9F1D1D !important;
    --merah600: #640E0E !important;
    --merah700: #2F0303 !important;
  
    /* Warna Hijau */
    --hijau: #2CDE85 !important;
    --hijau100: #A5FEC5 !important;
    --hijau200: #2CDE85 !important;
    --hijau300: #21B26A !important;
    --hijau400: #178950 !important;
    --hijau500: #0D6137 !important;
    --hijau600: #053C20 !important;
    --hijau700: #011B0B !important;
  
    /* Warna Abu */
    --abu: #8b8b8b !important;
    --abu100: #EBEBEB !important;
  
    /* Warna Putih */
    --putih: #E9E7E7 !important;
    --putih100: #FFFFFF !important;
    
    /* Warna Hitam */
    --hitam: #212529 !important;
}

/* set up background-color */
/* merah */
.bg-merah {
    background-color: var(--merah) !important;
  }
  .bg-merah100 {
    background-color: var(--merah100) !important;
  }
  .bg-merah200 {
    background-color: var(--merah200) !important;
  }
  .bg-merah300 {
    background-color: var(--merah300) !important;
  }
  .bg-merah400 {
    background-color: var(--merah400) !important;
  }
  .bg-merah500 {
    background-color: var(--merah500) !important;
  }
  .bg-merah600 {
    background-color: var(--merah600) !important;
  }
  .bg-merah700 {
    background-color: var(--merah700) !important;
  }
  
/* set up text-color */
.text-merah {
    color: var(--merah) !important;
  }
  
/* about text */
.text-bold {
    font-weight: bold;
}
.text-underline{
    text-decoration: underline;
}

.text-tengah {
    text-align: center;
}

/* about container */
/* flex atas-bawah */
.d-flex-bos {
    display: flex;
    flex-direction: column;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btn-right-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* border */
.bordered-cuy{
  border: 3px;
}

.no-margin>p{
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

/* about button */
.btn-large {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.btn-large:hover {
  background-color: var(--merah100) !important;
}

.btn-large-2 {
  height: 32px;
  width: 25%;
  border: none;
  border-radius: 8px;
}

.btn-large-2:hover {
  background-color: var(--abu100) !important;
}

.btn-hitung {
  width: 100px;
  border: 1px solid;
  border-radius: 8px;
  background-color: var(--merah200);
  color: var(--hitam);
  font-weight: bold;
}
.btn-hitung:hover {
  background-color: var(--merah100) !important;
}

.btn-reset {
  width: 100px;
  border: 1px solid;
  border-radius: 8px;
  background-color: var(--abu100);
  color: var(--hitam);
  font-weight: bold;
}
.btn-reset:hover {
  background-color: var(--putih100) !important;
}

/* margin bottom */
.mb {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-5 {
    margin-bottom: 5rem;
}

/* other */
.banner {
  padding-top:32px; 
  padding-bottom:32px;
}

.img-segitiga-bos {
  height: 300px;
  width: 400px;
  background-image: url(https://3.bp.blogspot.com/-g6sCbjR0CcI/WfQqDdsUWhI/AAAAAAAAA6o/9I6SnDmBYjoAh-3_eSjZr_zwzajehZwqgCLcBGAs/s1600/luas%2Bsegitiga%2Bdalam%2Btrigonometri.JPG);
  background-size: 100% 100%;
  background-position: center;
  align-self:center;
}

.img-jajargenjang-bos {
  height: 300px;
  width: 400px;
  background-image: url(https://th.bing.com/th/id/OIP.jXusUrlMiSPhJIekUrRJggAAAA?rs=1&pid=ImgDetMain);
  background-size: 100% 100%;
  background-position: center;
  align-self:center;
}

.input-wrapper{
	width:50%;
	display: flex;
  align-items: center;
	justify-content: space-between;
}

.input-wrapper>input {
	width:65%;
}

input[type=number] {
	padding: 3px 3px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #3D3D3D;
	border-radius: 4px;
	box-sizing: border-box;
}

/* content , container , etc */
.main-content{
  display: flex;
  margin-top: 20px;
}
.main-content>aside{
  flex: 1;
}

section.main-content {
  display: flex;
  gap: 20px; /* Jarak antar aside */
}

aside {
  flex: 1;
  padding: 20px;
  border-left: 2px solid #000; /* Garis vertikal pada sisi kiri */
}

aside:first-of-type {
  border-left: none; /* Hilangkan garis pada elemen aside pertama */
}

hr {
  border-color: var(--merah200);
}